<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring boot eamil teplate with Thymeleaf</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
</head>
<body>
<div id=":qd" class="Ar Au" style="display: block;">
    <div id=":q9" class="Am Al editable LW-avf tS-tW" hidefocus="true" aria-label="Nội dung thư" g_editable="true"
         role="textbox" aria-multiline="true" contenteditable="true" tabindex="1"
         style="direction: ltr; min-height: 226px;" itacorner="6,7:1,1,0,0" spellcheck="false" aria-owns=":so"
         aria-controls=":so" aria-expanded="false">
        <div><span style="background-color: rgb(255, 255, 255);"><font color="#000000"><span
                style="font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; white-space-collapse: preserve;">Chào [Tên của bạn],</span><br></font></span>
        </div>
        <div><span style="background-color: rgb(255, 255, 255);"><font color="#000000"><span
                style="font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; white-space-collapse: preserve;">Chúng tôi xin chân thành cảm ơn bạn đã báo cáo về việc vấn đề liên quan đến công việc và chúng tôi xin trình bày cách xử lý trong trường hợp này.</span><span
                style="font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; white-space-collapse: preserve;"><br></span></font></span>
        </div>
        <div><span
                style="font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; white-space-collapse: preserve; background-color: rgb(255, 255, 255);"><font
                color="#000000"><p th></p>Tên dịch vụ:
            <p th:text="${body}"></p>
Ngày báo cáo:
            <p th:text="${body}"></p>
Nội dung báo cáo:
            <p th:text="${body}"></p>
Cách xử lý:</font></span></div>
        <div><span
                style="font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; white-space-collapse: preserve; background-color: rgb(255, 255, 255);"><font
                color="#000000">Trạng thái:</font></span></div>
        <div><span style="background-color: rgb(255, 255, 255);"><font color="#000000"><span
                style="font-family: Söhne, ui-sans-serif, system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, Ubuntu, Cantarell, &quot;Noto Sans&quot;, sans-serif, &quot;Helvetica Neue&quot;, Arial, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; white-space-collapse: preserve;">Chúng tôi rất trân trọng sự tin tưởng của bạn vào dịch vụ của chúng tôi và sẽ làm hết sức mình để đảm bảo rằng dịch vụ của bạn sẽ được xử lý một cách hiệu quả và nhanh chóng.</span></font></span>
        </div>
        <div><font
                face="Söhne, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji"
                color="#000000"><span style="white-space-collapse: preserve; background-color: rgb(255, 255, 255);">Nếu bạn cần thêm thông tin hoặc có bất kỳ câu hỏi nào về dịch vụ của mình, vui lòng liên hệ với chúng tôi qua email: </span></font><b
                style="color: rgb(47, 84, 150); font-family: Calibri, sans-serif; font-size: 14.6667px;"><u><a
                href="mailto:CuongL3@fe.edu.vn" target="_blank">i</a>clean.service2001@gmail.com</u></b></div>
        <span class="gmail_signature_prefix">-- </span><br>
        <div dir="ltr" class="gmail_signature" data-smartmail="gmail_signature">
            <div dir="ltr">
                <div style="margin:0px"><font face="Calibri, sans-serif"><b><font color="#000000">Trân trọng,</font></b><br><b
                        style="color:rgb(34,34,34);font-size:14.6667px">-------------------------</b></font></div>
                <div style="font-family:Calibri,Arial,Helvetica,sans-serif;font-size:12pt;color:black;margin:0px"><span
                        style="font-size: 11pt; font-family: Calibri, sans-serif;">FPT University Ho Chi Minh City</span><br>
                </div>
                <div style="color:rgb(34,34,34);font-family:Calibri,Arial,Helvetica,sans-serif;font-size:12pt;margin:0px">
                    <p style="margin:0px;color:rgb(32,31,30);font-size:11pt;font-family:Calibri,sans-serif"><span
                            style="margin:0px;color:black">Add: Room 801, Block E2a-7, D1 Str, Hi-tech Park, Dist. 9, HCMC</span>
                    </p>
                    <p style="margin:0px;font-size:11pt;font-family:Calibri,sans-serif"><span style="margin:0px"><font
                            style="color:rgb(0,0,0)">Email:</font><span style="margin:0px"><font
                            style="color:rgb(0,0,0)">&nbsp;</font><font color="#2f5496"><b><u><a
                            href="iclean.service2001@gmail.com" style="color:rgb(17,85,204)" target="_blank">i</a>iclean.service2001@gmail.com</u></b></font></span></span>
                    </p>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>